*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Utilities Style */
body{
    font-family: 'Work Sans', sans-serif;
}

.container{
    /* padding: 0 200px; */
    width: 90%;
    margin: 0 auto;
}

/* Button Style */
.btn{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border: none;
    padding: 21px 37px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s;
}

.primary-btn{
    background: #FF900E;
    color: #FFFFFF;
}

.primary-btn:hover{
    background: #ff760e;
    color: #FFFFFF;
}



/* Header Start */
.header{
    background: rgba(255, 144, 14, 0.1);
    padding: 45px 0;
}
.header__logo{
    font-weight: 700;
    font-size: 30px;
    color: #131313;
    cursor: pointer;
    text-decoration: none;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    list-style-type: none;
    
    display: flex;
    justify-content: flex-end;
}
.header__list-item{
    padding-bottom: 3px;
    border-bottom: 2px solid #ff8f0e00;
    transition: all 0.3s;
}
.header__list-item a{
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    display: inline-block;
    text-decoration: none;
}

.header__list-item:hover{
    border-bottom: 2px solid #ff900e;
}



.header__list-item:not(:first-child){
    margin-left: 25px;
}

.header__list-item:hover{
    cursor: pointer;
}
.header__details{
    width: 60%;
    margin: 0 auto;
    padding: 65px 0;
    text-align: center;
}

.header__title{
    font-weight: 700;
    font-size: 50px;
    line-height: 60px; 
    color: #131313;
    margin-bottom: 25px;
}
.header__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 25px;
}


.header__banner-img{
    width: 100%;
    display: block;
}
/* Header End */



/* Feature Section Start */
.feature{
    padding: 100px 0;
}
.feature__content{
    display: flex;
    gap: 70px;
    align-items: center;
}
.feature__images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.feature__title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}
.feature__title-grey{
    font-weight: 500;
    color: #727272;
}
.feature__title-orange{
    color: #FF900E;
}
.feature__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}
/* Feature Section End */


/* Feature-list Section Start */

.feature-list{
    padding: 80px 0;
}
.feature-list__content{
    display: flex;
    gap: 140px;
}
.feature-list__details{
    width: 45%;
}
.feature-list__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #131313;
    width: 80%;
    border-left: 5px solid #FF900E;
    padding-left: 25px;
    margin-bottom: 24px;
}
.feature-list__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}
.feature-list__feature{
    padding: 30px;
    background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.feature-list__feature-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}
.feature-list__feature-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.feature-list__images{
    width: 100%;
    height: 94%;
    overflow: hidden;
    border-radius: 12px;
}
.feature-list__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature-list__experience{
    position: absolute;
    bottom: -3px;
    left: -90px;
    background-color: #FF900E;
    padding: 45px;
    text-align: center;
    border-radius: 8px;
}

.feature-list__experience-text{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}
.feature-list__years{
    font-weight: 700;
    font-size: 45px;
}
.feature-list__experience-content{
    width: 55%;
    position: relative;
}
/* Feature-list Section End */


/* Some Facts Section Start */
.some-facts{
    padding: 30px 0;
}
.some-facts__heading{
    width: 45%;
    margin-bottom: 80px;
}
.some-facts__title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}
.some-facts__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.some-facts__facts{
    display: flex;
    justify-content: space-around;
}
.some-facts__fact{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 35px;
    transition: all 0.4s;
    cursor: pointer;
}

.some-facts__fact:hover{
    transform: scale(1.1);
    background-color: #FFF4E7;
    border: 1px solid #f8dcb9;
}

.some-facts__icon{
    height: 45px;
    margin-bottom: 10px;
}
.some-facts__number{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-bottom: 5px;
}
.some-facts__subtitle{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
/* Some Facts Section End */


/* Sponsors Section Start */
.sponsors{
    padding: 120px 0;
}

.sponsors__heading{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.sponsors__title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 20px;
}
.sponsors__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 50px;
}

.sponsors__logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponsors__logo{
    height: 40px;
    filter: grayscale(100%);
    cursor: pointer;
}

.sponsors__logo:hover{
    filter: grayscale(0);
}

/* Sponsors Section End */

/* Blog Section Start */
.blogs {
    padding-bottom: 120px;
}
.blogs__title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
    
}



.blogs__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 45%;
    margin-bottom: 50px;
}

.blogs__container{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 20px;
}
.blogs__image{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 22px;
}
.blogs__subtitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.blogs__subtitle:hover {
    color: #ff760e;
}

.blogs__summery{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.blogs__learn-more{
    text-decoration: none;
    font-weight: 500;
    color: #131313;
    margin-top: 15px;
    display: block;
    font-size: 16px;
    transition: all 0.2s;
}
.blogs__learn-more:hover{
    color: #ff760e;
}
/* Blog Section End */



/* Footer Start */
.footer{
    padding: 38px 0;
    margin-bottom: 120px;
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
}
.footer__text{
    font-weight: 400;
    font-size: 16px;
    color: #424242;
}
/* Footer End */


/* Media queries start*/

@media screen and (max-width: 768px){

    .header__navbar {
        flex-direction: column;
    }
    .header__logo {
        font-size: 40px;
        margin-bottom: 16px;
    }
    .header__details {
        width: 80%;
    }
    .feature__content {
        flex-direction: column;
        align-items: unset;
    }
    .feature__images {
        grid-template-columns: 1fr;
    }
    .feature__image {
        width: 100%;
    }
    .feature__details {
        text-align: center;
    }
    .feature__title{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 24px;
        font-size: 36px;
    }
    .feature-list__content {
        display: flex;
        flex-direction: column;
        gap: 140px;
    }
    .feature-list__details {
        width: 100%;
    }
    .feature-list__experience-content {
        width: 100%;
    }
    .feature-list__experience {
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
    }
    .feature-list {
        padding: 80px 0 150px 0;
    }
    .some-facts__heading {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    .some-facts__facts {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 50%;
        margin: 0 auto;
    }
    .some-facts__title{
        font-size: 36px;
    }
    .sponsors__heading {
        width: 80%;
    }
    
    .sponsors__logos {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .blogs__container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 60px;
    }
    .blogs__title {
        font-size: 36px;
        text-align: center;
    }
    .blogs__description{
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .blogs__subtitle {
        font-size: 24px;
        line-height: 30px;
    }
    .blogs__summery {
        font-size: 16px;
        line-height: 28px;
    }
    .blogs__learn-more {
        font-size: 20px;
    }
    .sponsors__title{
        font-size: 36px;
    }
    .footer__text{
        font-size: 14px;
        width: 80%;
        margin: 0 auto;
        line-height: 22px;
    }
    .header__title {
        font-size: 42px;
        line-height: 48px;
        margin-bottom: 30px;
    }
    .header__details {
        width: 90%;
    }
    .btn {
        font-size: 18px;
        padding: 16px 28px;
        border-radius: 6px;
    }
}
/* Media queries end*/