*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Utilities Style */
body{
    font-family: 'Work Sans', sans-serif;
}

.container{
    /* padding: 0 200px; */
    width: 90%;
    margin: 0 auto;
}

/* Button Style */
.btn{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border: none;
    padding: 21px 37px;
    cursor: pointer;
}

.primary-btn{
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
}




/* Header Start */
.header{
    background: rgba(255, 144, 14, 0.1);
    padding: 45px 0;
}
.header__logo{
    font-weight: 700;
    font-size: 30px;
    color: #131313;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    list-style-type: none;
    
    display: flex;
    justify-content: flex-end;
}
.header__list-item{
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.header__list-item:not(:first-child){
    margin-left: 25px;
}

.header__list-item:hover{
    cursor: pointer;
}
.header__details{
    width: 60%;
    margin: 0 auto;
    padding: 65px 0;
    text-align: center;
}

.header__title{
    font-weight: 700;
    font-size: 50px;
    line-height: 60px; 
    color: #131313;
    margin-bottom: 25px;
}
.header__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 25px;
}


.header__banner-img{
    width: 100%;
    display: block;
}
/* Header End */